<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <%current_user.endeavors.each do |e|%>
            <div class = "user-home-wrapper">
                <h1 class = "user_home_title"><a class = "user_home_title" href="/users/<%=current_user.username%>/endeavors/<%=e.id%>"><%=e.title%></a> </h1><br><br>
                <% if e.picture_available? %>
                    <a href="/users/<%=current_user.username%>/endeavors/<%=e.id%>"><img src="<%=e.get_usable_link%>" alt="<%=current_user.username%>'s <%=e.title%> picture" width = "300px" height="300px"></a> <br>
                    <p><%=e.pic_caption%></p> <br>
                <% end %>
                <p><%=e.description%></p>
                
                <%if e.status%>
                    <img class = "completed-logo" src="https://www.onlygfx.com/wp-content/uploads/2018/04/completed-stamp-2.png" width = "350px" height="150px" alt="you-have-completed-picture">
                <%end%>
            </div>
        <%end%>
        <footer>
            <img src="https://www.novinite.com/media/images/2019-08/photo_verybig_199790.jpg" alt="eiffel tower"width="200px" height="200 px">
            <img src="https://thumbor.thedailymeal.com/QOuw1z3VzY5p7E4U2vd01ofzLk0=/870x565/https://www.theactivetimes.com/sites/default/files/2020/02/20/00_Hero.jpg" alt="colloseum"width="200px" height="200 px">
            <img src="https://thumbor.thedailymeal.com/PvXoVF7U2vGoNxpztZWnCsrMvzw=/870x565/filters:focal(723x376:724x377)/https://www.thedailymeal.com/sites/default/files/2019/12/30/iStock-1047316896.jpg" alt="arch"width="200px" height="200 px">
            <img src="https://www.usnews.com/dims4/USNEWS/965dcae/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F9d%2F9b%2Fd8dc8f3747b9b147d5c0a7fa1888%2F2-angkor-wat-getty.jpg" alt="mansion looks cool"width="200px" height="200 px">


        </footer>
        
    </body>
    
</html>

