<h1><%=@endeavor.title%></h1> <br>
<h4><%=@endeavor.description%></h4><br>
<br>
<br>
Make your edits here:
<br>
<br>
<form action="/users/<%=@user.username%>/endeavors/<%=@endeavor.id%>" method = "POST">
<input type="hidden" name="_method" id="hidden" value="patch">
New Title: <input type="text" name="endeavor[title]" value="<%=@endeavor.title%>" ><br>
New Description: <input type="text" name="endeavor[description]" value="<%=@endeavor.description%>" ><br>
New Image: <input type="text" name="endeavor[pic]" value="<%=@endeavor.pic%>" ><br>
New Caption: <input type="text" name="endeavor[pic_caption]" value="<%=@endeavor.pic_caption%>" ><br>
<p><input type="checkbox" name="endeavor[status]", value="completed" <%='checked' if @endeavor.status=='completed'%>> I've finally trekked this endeavor! WOOOOOO!!</p>
<br>
<button class = "buttons" type="submit" value="Confirm Edit"><span>Confirm Edit</span></button><br>
<br>
<%=@error%>
</form>