<h1><%=@endeavor.title%></h1> <br>
<h4><%=@endeavor.description%></h4><br>
<%if @endeavor.picture_available?%>
    <img src="<%=@endeavor.get_usable_link%>" alt="<%=@endeavor.user.username%>'s picture for <%=@endeavor.title%>" width="250" height="250px">
<%end%>
<br>
<br>
Make your edits here:
<br>
<br>
<form action="/users/<%=current_user.username%>/endeavors/<%=@endeavor.id%>" method = "POST">
    <input type="hidden" name="_method" id="hidden" value="patch">
    New Title: <input type="text" name="endeavor[title]" value="<%=@endeavor.title%>" ><br>
    New Description:<br> <textarea rows="8" cols="25" id="textboxid" type="text" name="endeavor[description]" value="<%=@endeavor.description%>" ><%=@endeavor.description%></textarea><br>
    New Image: <input type="text" name="endeavor[pic]" value="<%=@endeavor.pic%>" ><br>
    New Caption: <input type="text" name="endeavor[pic_caption]" value="<%=@endeavor.pic_caption%>" ><br>
    <p><input type="checkbox" name="endeavor[status]", value="completed" <%='checked' if @endeavor.status=='completed'%>> I've finally trekked this endeavor! WOOOOOO!!</p>
    <br>
    <button class = "buttons" type="submit" value="Confirm Edit">Confirm Edit</button><br>
    <br>
    
    <ul>
        <%@endeavor.errors.full_messages.each do |error|%>
            <li><%=error%></li>
        <%end%>
    </ul>
</form>