<h1>Hello, <%=@user.username.capitalize%>!</h1><br><br><br><br>

<% @endeavors.each do |e| %>
   <% if e.status == 'completed' %>
        <% @done_count += 1 %>
    <% end %> 
<% end %>

<% if !(@done_count == @endeavors.count) %>
    <h4>Here are your endeavors you have yet to accomplish!</h4>
    <ul>
        <%@endeavors.each do |e|%>
                <%if !(e.status == 'completed')%>
                    <li>
                    <h3>•<a href="/users/<%=@user.username%>/endeavors/<%=e.id%>"><%=e.title%></a></h3>
                    </li><br>
                <%end%>
        <%end%>
    </ul>
<% end%>


<br><br>


<% if @done_count > 0 %>
    <h4>Here are your endeavors that you HAVE accomplished!</h4><br>
    <ul>
        <%@endeavors.each do |e|%>
                <%if (e.status == 'completed')%>
                    <li>
                        <h3>•<a href="/users/<%=@user.username%>/endeavors/<%=e.id%>"><%=e.title%></a></h3>
                    </li><br>
                <%end%>
        <%end%>
    </ul>
<% end %>