<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

    <h3>Hello, <%=@user.username.capitalize%></h3>

    <br>
    
    <h1><%=@endeavor.title%></h1><br>
    <p><%=@endeavor.description%> </p><br>
    
    <br>
    <br>
    
    <%if @users_endeavors.count>1%>
        Here are your other endeavors: <br><br>
        <%@users_endeavors.each do |e|%>
            <%if !(e==@endeavor)%>
                <p> •<a href="/users/<%=@user.username%>/endeavors/<%=e.id%>"><%=e.title%></a> </p>
            <%end%>
        <%end%>
    <%end%>
    <br>
    <br>
    <button class="buttons"><a href="/users/<%=@user.username%>/endeavors">My Endeavors</a> </button>
    <br>
    <button class="buttons"><a href="/users/<%=@user.username%>/endeavors/<%=@endeavor.id%>/edit">Edit</a> </button>
    <br>
    
    <form action="/users/<%=@user.username%>/endeavors/<%=@endeavor.id%>" method="POST">
        <input type="hidden" name="_method" id="hidden" value="delete">
        <button class = "buttons" type="submit" value="Delete"><span>Delete</span></button>
    </form>
    <%if @endeavor.status == 'completed'%>
        <img class = "completed-logo" src="https://www.onlygfx.com/wp-content/uploads/2018/04/completed-stamp-2.png" width = "350px" height="150px" alt="">
    <%end%>
    <% if !!@endeavor.pic %>   
        <img class = " pictures endeavor-solo-pic" src="<%=@endeavor.pic%>" alt="<%=@user.username%>'s <%=@endeavor.title%> picture" width="250" height="250px">
        <p class="caption"><%=@endeavor.pic_caption%></p>
    <%end%>
    </body>
    
</html>
