<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

    <h3>Hello, <%=@user.username%></h3>

    <br>
    
    <h1><%=@endeavor.title%></h1><br>
    <p><%=@endeavor.description%> </p><br>
    
    <br>
    <br>
    
    <%if @users_endeavors.count>1%>
        Here are your other endeavors: <br><br>
        <%@users_endeavors.each do |e|%>
            <%if !(e==@endeavor)%>
                <p> •<a href="/users/<%=@user.username%>/endeavors/<%=e.id%>"><%=e.title%></a> </p>
            <%end%>
        <%end%>
    <%end%>
    <br>
    <br>
    Click <a href="/users/<%=@user.username%>/endeavors">here</a> to go back to list. 
    <br>
    Click <a href="/users/<%=@user.username%>/endeavors/<%=@endeavor.id%>/edit">here</a> to edit this endeavor.
    <br>
    
    <form action="/users/<%=@user.username%>/endeavors/<%=@endeavor.id%>" method="POST">
        <input type="hidden" name="_method" id="hidden" value="delete">
        <input class = "buttons" type="submit" value="Delete">
    </form>
    <img class = " pictures endeavor-solo-pic" src="<%=@endeavor.pic%>" alt="<%=@user.username%>'s <%=@endeavor.title%> picture" width="250" height="250px">
       
    </body>
    
</html>
